.box {
    /* text-align: center; */
    /* margin-top: 100px; */
    padding-left: 20px;
  }
  
  .errorMsg {
    color: red;
  }
  
  li:nth-child(odd) {
    color: red;
    font-size: 40px;
  }
  
  li:nth-child(even) {
    color: green;
    font-size: 40px;
  }
  input {
    width: 200px;
    height: 30px;
    font-size: 30px;
  
  }
  .b1 {
    width: 80px;
  
  }
  #a{
      margin-top: 0px;
  }
  .s{
      margin-left: 310px;
      margin-top: -38px;
  }